
body,html{
	background-color:#999999;   
}

@font-face {
    font-family: Quinone;
   src: url(/font/Quinone.otf);

}
@font-face{
    font-family: Comforta;
    src: url(/font/Comforta.ttf);
}

                                         /* Cabeçalho */
#cabecalho{
	text-align: center;
	margin-top: 12px;
	
}
#imgcabecalho{
	width: 150px;
	height: 110px;
	
}
                                           /* navbar */
#navbar{
	background-color:#3c5baa ;
	border-radius: 1px;
    margin-bottom: 1%;

}

.icon-bar {
 	margin-top: 20px;
  	background-color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

}
                                             /* sidebar */
#sidebar {
    width: 17%;
    height: 100%;
    background: #3c5baa;
    color: white;
    margin-bottom: 10px;
    position: fixed;
}

p {
   
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;

}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebarCollapse{
	background-color: #3c5baa;
	color: white;

}
#sidebarCollapse:hover{
	background-color: #4265bd;
	color: white;

}
#imgheader{
	width: 85%;
	height: 80%;
    margin-bottom: -20px;
}

#sidebar .sidebar-header {
   
    background:#3c5baa;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.15em;
    display: block;
    font-family: Quinone;
    color: white;
}
#sidebar ul li a:hover {
    color: #3c5baa;
    background:  white;
    
}
                                                 /* sidebar button */
.botaomenu{
	background-color: #355197;
	margin-top: 6px;

}

 
#menu ul li a{
    color: white;
    font-family: Quinone;
    font-size: 1.1em;
}

#menu ul li a:hover{
    text-shadow: 1px 1px 1px black;
    background-color: transparent;
}

                                                 /* sidebar button */
#corpo{
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    margin-left: 18%;
    margin-right: 1%;
    position: fixed;
}


#titlepesquisa{
    color: #3c5baa;
    font-family:Comforta;
    font-size: 170%;
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 8%;
}

.fontfrontpage{
    font-family:Comforta;
    font-size:14px;
    color: #3c5baa;
    
}

#buttoncadastrar{
    background-color: white;
    color:  #4265bd;
    margin-left: 18%;
    margin-top: 2%;
    font-family: Comforta;
    border-color: #cccccc;
    
}

#buttoncadastrar:hover{
    background-color:#355197 ;
    color: white;
}

.input00{
    width: 60%;
}
.input01{
    width: 40%;
}
.inputform{
    margin-left: 20%;

}
#area{
    width: 80%;
    margin-left: 2%;
}