#buttoncadastro{
    background-color: white;
    color: #3c5baa;
    margin-top: 3.3%;

}

#buttoncadastro:hover{
    background-color: #3c5baa;
    color: white;
}

.msg {
    background: #fefefe;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}

.msg-success {
    border-color: #38c172;
}
