@font-face
{
    font-family: Comforta;
    src: url(/font/Comforta.ttf);
}

#buttonmenu{
	width: 100%;
}

.buttonstyle{
	color:#3c5baa;
	font-family: Comforta;
	background-color: #bfbfbf;
    margin-left: 1%;

}

.buttonstyle:hover{
	color: white;
	background-color: #3c5baa
}


.menuedit{
    margin-top: 6%;
}
