
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html
{
	background-color:#b3b3b3;   
}

                                        /*fontes usadas*/

@font-face
{

    font-family: Quinone;
    src: url(/font/Quinone.otf);

}

@font-face
{
    font-family: Comforta;
    src: url(/font/Comforta.ttf);
}

                                         /*Cabeçalho*/

#cabecalho
{
    
    text-align: center;
    margin-top: 12px;
            	
}

#imgcabecalho
{
    
    width: 150px;
    height: 110px;
}


                                           /* navbar */

.navbar
{
	background-color:#3c5baa ;
	border-radius: 1px;
    margin-bottom: 1%;
    font-size: 1.1em;

}


.wrapper 
{
    display: flex;
    width: 100%;
    align-items: stretch;

}
                                             /* sidebar */
#sidebar 
{
    width: 17%;
    height: 100%;
    background: #3c5baa;
    color: white;
    margin-bottom: 10px;
    position: fixed;
}

#sidebar .sidebar-header 
{
   
    background:#3c5baa;
    
}

#sidebar ul.components
{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p 
{
    color: #black;
    padding: 10px;
}

#sidebar ul li a 
{
    padding: 10px;
    font-size: 1.15em;
    display: block;
    font-family: Quinone;
    color: white;
}

#sidebar ul li a:hover 
{
    color: #3c5baa;
    background:  white;
    
}

p 
{
   
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;

}

a, a:hover, a:focus 
{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebarCollapse
{
	background-color: #3c5baa;
	color: white;

}

#sidebarCollapse:hover
{
	background-color: #4265bd;
	color: white;

}

#imgheader
{
	width: 85%;
	height: 80%;
    margin-bottom: -20px;
}


                                                 /* sidebar button */
.botaomenu
{
	background-color: #355197;
	margin-top: 6px;


}

a i {
    font-size: 100%;
    font-style: normal;
}

