body,html
{
	background-color:lightgrey;
}

                                        /*fontes usadas*/

@font-face
{

    font-family: Quinone;
    src: url(/font/Quinone.otf);

}

@font-face
{
    font-family: Comforta;
    src: url(/font/Comforta.ttf);
}

                                         /*Cabeçalho*/

#cabecalho
{

    text-align: center;
    margin-top: 12px;

}

#imgcabecalho
{

    width: 150px;
    height: 110px;
}


/* navbar */

.navbar {
    background: #3c5baa;
    border-bottom: 10px solid #999999;
    font-family: Quinone;
    font-size: 1.1em;
}

.nav-link:hover { text-shadow: 1px 1px 1px black; }


.wrapper {
    display: flex;
    width: 100%;
}

/* sidebar */

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #3c5baa;
    border-right: 10px solid #999999;
    font-family: Quinone;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -230px;
}

#sidebar .sidebar-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 10px;
}

#sidebar ul p
{
    color: black;
    padding: 10px;
}

#sidebar ul li a
{
    padding: 10px;
    font-size: 1.15em;
    display: block;
    font-family: Quinone;
    color: white;
}

#sidebar ul li a:hover
{
    color: #3c5baa;
    background:  white;

}

p
{

    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;

}

a, a:hover, a:focus
{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebarCollapse
{
	background-color: #355197;
    color: white;
}

#sidebarCollapse:hover
{
	background-color: #fff;
	color: #3c5baa;

}

.line-color {
    border-top-color: rgba(255, 255, 255, 0.2)
}

#content {
    width: calc(100% - 230px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    color: #3c5baa;
}

#content.active {
    width: 100%;
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -230px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 230px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


                                                 /* sidebar button */
.botaomenu
{
	background-color: #355197;
	margin-top: 6px;
    font-size: 75%;


}

a i {
    font-size: 90%;
    font-style: normal;
}


.dropdown-item:hover
{
    background-color: #3c5baa;
    color: white;
}

#sidebar .titledrop
{
    font-size: 105%;
}

#sidebar .dropdown-item{
    color: black;
    font-size: 95%;
}

#sidebar .dropdown-item:hover{
    color: white;
    background-color: #3c5baa;
    font-size: 110%;
}

#sidebar .dropdown
{
    position: relative;
    z-index: +1;
}
