body{
	width: 100%;
 	height: 100%;
	
	background-image: url("/imagem/bg-laravel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
@font-face {
    font-family: Quinone;
   src: url(/font/Quinone.otf);

}
@font-face{
    font-family: Comforta;
    src: url(/font/Comforta.ttf);
}

.corpo{
	margin-top: 10%;
	width: 75%;
	margin-left: 15%;
}

#imgmenu{
	width: 48%;
	margin-left: 25%;
}

#buttoncadastrar{
    background-color: white;
    color:  #4265bd;
    font-family: Comforta;
    
    
}

#buttoncadastrar:hover{
    background-color:#355197 ;
    color: white;
}
#link{
	color: #4265bd;
	font-family: Comforta;
}