td .btn:hover {
    margin: 0 auto;
    color: #3c5baa;
    background-color: #fff;
}
td .btn {
    margin: 0 auto;
    color: #fff;
    background-color: #3c5baa;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

table {
    counter-reset: tableCount;
}

.ordem::before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

thead {
    background-color: #3c5baa;
    color: white;
}

td {
    padding: 5px 18px !important;
}

.dataTables_length label, .dataTables_wrapper .dataTables_info, option, #tabelaClientes_filter label {
    color: #3c5baa;
}

body.modal-open div.modal-backdrop { z-index: -1; }
