td .btn:hover, .modal-footer .btn:hover {
    margin: 0 auto;
    color: #3c5baa;
    background-color: #fff;
}
td .btn, .modal-footer .btn {
    margin: 0 auto;
    color: #fff;
    background-color: #3c5baa;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

table {
    counter-reset: tableCount;
}

.ordem::before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

thead {
    background-color: #3c5baa;
    color: white;
}

td {
    padding: 5px 18px !important;
}

.dataTables_length label, .dataTables_wrapper .dataTables_info, option, #tabelaClientes_filter label {
    color: #3c5baa;
}

.modal-header {
    background-color: #3c5baa;
    color: #fff;
}

.close {
    color: #fff;
}

.close:focus {
    outline: none;
}

.modal-body p {
    color: #817d7d;
}

