td .btn-bc:hover {
    margin: 0 auto;
    background: #fff;
    color: #3c5baa;
}
td .btn-bc, .modal-footer .btn-bc {
    margin: 0 auto;
    background: #3c5baa;
    color: #fff;
}
.modal-footer .btn-bc:hover {
    background: #213975;
}

.btn-xs {
    padding: 1px 7px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.modal-danger, .modal-footer .btn-danger {
    background: #f15e5e !important;
    color: #fff;
    border: none;
}

.modal-footer .btn-secondary {
    background: #c1c1c1;
    border: none;
}

.modal-footer .btn-danger:hover, .modal-footer .btn-danger:focus {
    background: #ee3535 !important;
    color: #fff;
}

.modal-footer .btn-secondary:hover, .modal-footer .btn-secondary:focus {
    background: #a8a8a8 !important;
    color: #fff;
}

table {
    counter-reset: tableCount;
}

.ordem::before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

thead {
    background-color: #3c5baa;
    color: white;
}

td {
    padding: 5px 18px !important;
}

.dataTables_length label, .dataTables_wrapper .dataTables_info, option, #tabelaClientes_filter label {
    color: #3c5baa;
}

.modal-header {
    background-color: #3c5baa;
    color: #fff;
}

.close {
    color: #fff;
}

.close:focus {
    outline: none;
}

.modal-body p, .confirmPassLabel {
    color: #817d7d !important;
}

.confirmPassLabel {
    font-size: 10px;
}

div.block-content {
    margin: 0 36px;
}

@media (max-width: 992px){
    div.block-content {
        margin: 0 20px;
    }
}

.page-title {
    color: #3c5baa;
}

div.dataTables_wrapper input {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

div.dataTables_wrapper input:focus {
    border-color: #3c5baa;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(60, 91, 170);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(60, 91, 170);
}
