@font-face
{
    font-family: Comforta;
    src: url(/font/Comforta.ttf);
}

.container .card{
	background-color: rgb(255,255,255, .5);
	border-radius: 3px;
	width:110%;
	font-family: Comforta;
	color: #3c5baa;
	margin-top: 7%;
}


#imgmenu{
	width: 50%;
	height: 50%;
	margin-left: 25%;
    margin-bottom: -5%;
}

.buttonredefinir{
    background-color: white;
    color: #3c5baa;
    margin-top: 2%;
    border-color: transparent;
    border-radius: 3px;
   
    margin-bottom: 8%;

}

.buttonredefinir:hover{
    background-color: #3c5baa;
    color: white;
}

