#subcorpo{
    
    margin-top: 8%;
    width: 50%;
    height: 35%;
    background-color: #bfbfbf; 
    margin-left: 25%;
    border-radius: 3px;
    margin-bottom: 5%;
}

.inputredefinir{
   
    width: 95%;
    border-color: transparent;
    border-radius: 3px;
    margin-left: 3%;
   
}

.buttonredefinir{
    background-color: white;
    color: #3c5baa;
    margin-top: 2%;
    border-color: transparent;
    border-radius: 3px;
    margin-left: 5%;


}

.buttonredefinir:hover{
    background-color: #3c5baa;
    color: white;
}

#subcorpo label{
    font-family: Comforta;
    color:#3c5baa;
    font-style: normal;
    margin-left: 5%;
   
    
}

#subcorpo p {
    font-family: Comforta;
    color:#3c5baa;
    font-style: normal;
    font-size: 120%;
    padding: 2%;
 
}

.form-control{
    width: 80%;
    margin-left: 5%;
}

.alert{
    background-color: white;
}