body{
	width: 100%;
 	height: 100%;
	
	background-image: url("/imagem/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
	font-family: Quinone;
   src: url(/font/Quinone.otf);
}
@font-face{
	font-family: Comforta;
	src: url(/font/Comforta.ttf);
}
#barra-navegacao ul li a{	
	color: white;
	font-size: 18px;
	margin-top: 10px;
	font-family: Quinone;
	background-color: transparent;
	
	
}
#barra-navegacao ul li a:hover{
	text-shadow: 2px 2px 2px #1b284b; 	
	color: white;
	background-color: transparent;
	
}
#img01{
	height: 100%;
	margin-top: 95px;
}


#text01{
	color: white;

}
#one{
	text-align: center;
	color: white;
	border-color: white;
	background-color: transparent;
	font-family: Quinone;
	font-size: 17px;

}
#one:hover{
	color: #4265bd;
	background-color:white;	

}
.icon-bar {
 	margin-top: 20px;
  	background-color: white;
}

#icon{
	
	color: white;
}
#janela{
	margin-top: 130px;
	font-family: Comforta;
}


#logo{
	width: 50%;
	background-color: transparent;
	border:0px;
	width: 170px;
	height: 120px;
}

#logo2{

	width: 80%;
	background-color: transparent;
	border:0px;
	width: 180px;
	height: 70px;
}

.grow { transition: all .1s ease-in-out; 
}
.grow:hover { transform: scale(1.02);
 }